body {
  background: #0f0f0f;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
}

.beat-card {
  background: #1c1c1c;
  padding: 20px;
  margin: 20px auto;
  width: 300px;
  border-radius: 10px;
}

img {
  width: 100%;
  border-radius: 8px;
}

.buy-btn {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background: #00ff99;
  color: black;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}
